{% extends '__base.html'%}
{% block content%}
    <div class="col-md-8">
            <h2>
                <a href="#">{{ post.title }}</a>
            </h2>

            <p>
                <span class="glyphicon glyphicon-time"></span> Posted on {{ post.created }}
            </p>
            <hr>

            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
            <hr>
            <p>{{ post.content }}</p>

            <a class="btn btn-primary" href="{% url "post:edit" post.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url "post:delete" post.id %}">Delete</a>
    </div>
{% endblock %}
